# Importing and preparing supermarkets data

## Libraries and settings

In [1]:
# Libraries
import os
import fnmatch
import pandas as pd

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

## Importing data

In [2]:
# Get current working directory
print('Current working directory:', os.getcwd())

# Show files in the directory
flist = fnmatch.filter(os.listdir('.'), '*.json')
for i in flist:
    print(i)

# Read the data to a pandas data frame
df1 = pd.read_json('supermarkets_data.json', encoding='utf-8')
df1.head(5)

Current working directory: C:\Users\adria\Data Analytics\2
supermarkets_data.json

,type,id,lat,lon,tags
0,node,33126515,47.155616,9.037915,"{'brand': 'Spar', 'brand:wikidata': 'Q610492',..."
1,node,36726161,47.226191,8.980329,"{'addr:city': 'Uznach', 'addr:housenumber': '2..."
2,node,39768209,47.225069,8.969981,"{'addr:city': 'Uznach', 'addr:postcode': '8730..."
3,node,39947904,47.376732,8.542161,"{'addr:city': 'Zürich', 'addr:country': 'CH', ..."
4,node,48932835,47.375020,8.522895,"{'addr:city': 'Zürich', 'addr:housenumber': '7..."

## Count number of rows and columns in the data frame

In [3]:
# Dimension (rows, columns)
print('Dimension:', df1.shape)

# Number of rows
print('Number of rows:', df1.shape[0])

# Number of columns
print('Number of columns:', df1.shape[1])

Dimension: (3260, 5)
Number of rows: 3260
Number of columns: 5

## Column 'tags' is a pandas Series with dictionaries -> change to data frame

In [4]:
# Type of the first item of column tags
print(type(df1.tags))
print(type(df1.tags[0]))

# Content of the first item of column tags
print(df1.tags[0].keys())

# Change to data frame
df2 = pd.DataFrame.from_records(df1.tags)
df2[['brand', 'shop', 'addr:city', 'addr:housenumber', 'addr:postcode', 'opening_hours']]

<class 'pandas.core.series.Series'>
<class 'dict'>
dict_keys(['brand', 'brand:wikidata', 'brand:wikipedia', 'name', 'opening_hours', 'shop'])

,brand,shop,addr:city,addr:housenumber,addr:postcode,opening_hours
0,Spar,supermarket,NaN,NaN,NaN,Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00
1,Migros,supermarket,Uznach,25,8730,"Mo-Th 08:00-19:00, Fr 08:00-20:00, Sa 07:30-17..."
2,Coop,supermarket,Uznach,NaN,8730,NaN
3,Coop,supermarket,Zürich,1,8001,Mo-Sa 06:00-22:00
4,Migros,supermarket,Zürich,7,8004,Mo-Sa 08:00-21:00; PH off
...,...,...,...,...,...,...
3255,Volg,supermarket,NaN,NaN,NaN,"Mo-Fr 07:00-12:20,13:30-18:30; Sa 07:00-16:00"
3256,Landi,supermarket,Rickenbach Sulz,1,8545,Mo-Fr 08:00-18.30; Sa 08:00-17:00; PH off
3257,VOI,supermarket,NaN,NaN,NaN,NaN
3258,NaN,supermarket,NaN,NaN,NaN,"Mo-Fr 09:00-19:00; Sa,Su 09:00-17:00; PH off"
3259,NaN,supermarket,NaN,NaN,NaN,NaN

## Join df1 and df2

In [5]:
# Merge df and df2
df = pd.merge(df1[['type', 'id', 'lat', 'lon']], 
              df2[['brand', 'shop', 'addr:city', 'addr:housenumber', 'addr:postcode','opening_hours']], 
              left_index=True, 
              right_index=True)
df.head(5)

,type,id,lat,lon,brand,shop,addr:city,addr:housenumber,addr:postcode,opening_hours
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00
1,node,36726161,47.226191,8.980329,Migros,supermarket,Uznach,25,8730,"Mo-Th 08:00-19:00, Fr 08:00-20:00, Sa 07:30-17..."
2,node,39768209,47.225069,8.969981,Coop,supermarket,Uznach,NaN,8730,NaN
3,node,39947904,47.376732,8.542161,Coop,supermarket,Zürich,1,8001,Mo-Sa 06:00-22:00
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,7,8004,Mo-Sa 08:00-21:00; PH off

## Count and identify the number of missing values (if any)

In [6]:
# Count missing values
print(pd.isna(df).sum())

# Identify rows with missing values, e.g.:
df.loc[pd.isna(df['addr:city'])]

type                   0
id                     0
lat                    0
lon                    0
brand               1246
shop                   0
addr:city           1808
addr:housenumber    1702
addr:postcode       1733
opening_hours       1435
dtype: int64

,type,id,lat,lon,brand,shop,addr:city,addr:housenumber,addr:postcode,opening_hours
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00
5,node,60271452,47.406671,9.305450,NaN,supermarket,NaN,NaN,NaN,NaN
6,node,70656485,47.491253,8.733981,NaN,supermarket,NaN,NaN,NaN,NaN
10,node,81321513,47.532917,9.066408,Landi,supermarket,NaN,NaN,NaN,"Mo-Sa 08:00-12:00, 13:30-18:00"
13,node,95582038,47.050385,9.059214,NaN,supermarket,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3253,node,9947587529,47.000852,8.611420,NaN,supermarket,NaN,NaN,NaN,NaN
3255,node,9963973121,47.321761,9.426943,Volg,supermarket,NaN,NaN,NaN,"Mo-Fr 07:00-12:20,13:30-18:30; Sa 07:00-16:00"
3257,node,9975876019,46.011774,8.965955,VOI,supermarket,NaN,NaN,NaN,NaN
3258,node,9978766657,47.424524,7.126737,NaN,supermarket,NaN,NaN,NaN,"Mo-Fr 09:00-19:00; Sa,Su 09:00-17:00; PH off"
3259,node,9979931913,46.010662,8.856326,NaN,supermarket,NaN,NaN,NaN,NaN

## Count and identify duplicated values (if any)

In [7]:
# Count duplicated values
print(df.duplicated().sum())

# Identify rows with duplicated values, e.g.:
df[df[['id']].duplicated()]

0

Empty DataFrame
Columns: [type, id, lat, lon, brand, shop, addr:city, addr:housenumber, addr:postcode, opening_hours]
Index: []

## Get data types of all variables

In [8]:
# Get data types (note that in pandas, a string is referred to as 'object')
df.dtypes

type                 object
id                    int64
lat                 float64
lon                 float64
brand                object
shop                 object
addr:city            object
addr:housenumber     object
addr:postcode        object
opening_hours        object
dtype: object

### Save data to file

In [9]:
df.to_csv('supermarkets_data_prepared.csv', 
          sep=",", 
          encoding='utf-8',
          index=False)

### Additional filters on supermarkets

In [10]:
#Filter for Migros in the city of Zurich
df_filtered = df.loc[(df['brand'] == 'Migros') & (df['addr:city'] == 'Zürich')]
df_filtered.head(5)

,type,id,lat,lon,brand,shop,addr:city,addr:housenumber,addr:postcode,opening_hours
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,7,8004,Mo-Sa 08:00-21:00; PH off
11,node,83330862,47.344749,8.529981,Migros,supermarket,Zürich,3,8038,Mo-Sa 07:30-21:00; PH off
16,node,119249170,47.375255,8.536107,Migros,supermarket,Zürich,31-35,8001,Mo-Sa 09:00-20:00; PH off
50,node,262400822,47.364072,8.530945,Migros,supermarket,Zürich,10,8002,"Mo-Fr 06:30-22:00; PH,Sa-Su 08:00-22:00"
71,node,267346993,47.385598,8.531471,Migros,supermarket,Zürich,152,8005,Mo-Sa 07:30-20:00; PH off

In [11]:
#Filter for Coop in Basel, Bern & Zurich
df_filtered_coop = df.loc[(df['brand'] == 'Coop') & ((df['addr:city'] == 'Zürich')|(df['addr:city'] == 'Basel')|(df['addr:city'] == 'Bern'))]
df_filtered_coop.head(5)

print('Amount of Coop supermarkets in Basel, Bern & Zurich:', df_filtered_coop.shape[0]-1)

Amount of Coop supermarkets in Basel, Bern & Zurich: 39

In [12]:
#Filter for entries with available opening hours
df.loc[pd.notna(df['opening_hours'])]

,type,id,lat,lon,brand,shop,addr:city,addr:housenumber,addr:postcode,opening_hours
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00
1,node,36726161,47.226191,8.980329,Migros,supermarket,Uznach,25,8730,"Mo-Th 08:00-19:00, Fr 08:00-20:00, Sa 07:30-17..."
3,node,39947904,47.376732,8.542161,Coop,supermarket,Zürich,1,8001,Mo-Sa 06:00-22:00
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,7,8004,Mo-Sa 08:00-21:00; PH off
7,node,70656488,47.491874,8.706448,Migros,supermarket,Winterthur,102,8406,"Mo-Fr 07:30-20:00, Sa 08:00-18:00; PH off"
...,...,...,...,...,...,...,...,...,...,...
3250,node,9922162065,46.699740,10.092299,Denner,supermarket,NaN,62,NaN,"Mo-Fr 07:00-12:15,13:30-18:30; Sa 07:00-12:15,..."
3254,node,9950926547,47.392404,9.569855,Volg,supermarket,Marbach SG,17,9437,Mo-Sa 06:00 - 21:00
3255,node,9963973121,47.321761,9.426943,Volg,supermarket,NaN,NaN,NaN,"Mo-Fr 07:00-12:20,13:30-18:30; Sa 07:00-16:00"
3256,node,9974889755,47.535375,8.787090,Landi,supermarket,Rickenbach Sulz,1,8545,Mo-Fr 08:00-18.30; Sa 08:00-17:00; PH off
3258,node,9978766657,47.424524,7.126737,NaN,supermarket,NaN,NaN,NaN,"Mo-Fr 09:00-19:00; Sa,Su 09:00-17:00; PH off"

In [14]:
#Filter for entries with avaulable brand, city, house number and zip code
df.loc[pd.notna(df['brand']) & pd.notna(df['addr:city']) & pd.notna(df['addr:housenumber']) & pd.notna(df['addr:postcode'])]

,type,id,lat,lon,brand,shop,addr:city,addr:housenumber,addr:postcode,opening_hours
1,node,36726161,47.226191,8.980329,Migros,supermarket,Uznach,25,8730,"Mo-Th 08:00-19:00, Fr 08:00-20:00, Sa 07:30-17..."
3,node,39947904,47.376732,8.542161,Coop,supermarket,Zürich,1,8001,Mo-Sa 06:00-22:00
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,7,8004,Mo-Sa 08:00-21:00; PH off
7,node,70656488,47.491874,8.706448,Migros,supermarket,Winterthur,102,8406,"Mo-Fr 07:30-20:00, Sa 08:00-18:00; PH off"
8,node,75749133,47.340967,8.530601,ALDI,supermarket,Zürich,81,8038,Mo-Sa 07:30-21:00
...,...,...,...,...,...,...,...,...,...,...
3211,node,9642593588,46.754684,8.037224,Coop,supermarket,Brienz BE,139b,3855,NaN
3222,node,9767386261,46.310070,7.744130,Denner,supermarket,Gampel,5,3945,NaN
3248,node,9912766560,46.639093,6.635852,Denner,supermarket,Echallens,2,1040,Lu-Ve 07:30-19:00; Sa 07:30-18:00
3254,node,9950926547,47.392404,9.569855,Volg,supermarket,Marbach SG,17,9437,Mo-Sa 06:00 - 21:00
3256,node,9974889755,47.535375,8.787090,Landi,supermarket,Rickenbach Sulz,1,8545,Mo-Fr 08:00-18.30; Sa 08:00-17:00; PH off

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')